html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

  /* rgb(65, 91, 238)*/
body
{ font: normal .70em trebuchet ms, sans-serif;
  background:  url("mountain.jpg");
  background-size: cover;
  color: #5D5D5D;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 2;}

h1, h3, h4, h5, h6 
{ font: normal 165% 'century gothic', arial, sans-serif;
  color: rgb(10, 10, 10);
  margin: 0 0 14px 0;
  padding: 10px 0 5px 0;
}

#author{
    font: normal 165% 'century gothic', arial, sans-serif;
    color: #000000;
}

h2
{ font: normal 165% 'century gothic', arial, sans-serif;
  color: #B60000;}

h3
{ font: normal 165% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #B60000;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #A4AA04;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ padding-bottom: 20px;}

#header
{ background: transparent;
  height: 170px;}

#logo
{ width: 860px;
  position: relative;
  height: 134px;}

#logo h1, #logo h2
{ font: normal 300% "century gothic", arial, sans-serif;}

#logo h1
{ padding: 24px 0 0 0;
  margin: 0;
  color: rgb(255, 255, 255);}

#logo h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #000000;}

#logo h1, #logo h1 a {
    padding: 22px 0 0 0;
    color: rgb(255, 255, 255);;
    text-decoration: none;
}

#logo h1 a:hover 
{ padding: 200px 0 0 0;
  color:  rgb(243, 202, 174);
  text-decoration: underline;
}

#logo h1 a .logo_colour
{ color: #888;}

#logo a:hover .logo_colour
{ color: #FFF;}

#menubar
{ 
  height: 24px;
  width: 900px;
} 

ul#menu
{
  position: fixed;
  right: 195px;
  margin: 0;
  padding: 0;}

ul#menu li
{ float: left;
  padding: 0;
  list-style: none;
  margin: 5px 2px 0 0;
  background: #FFF;
}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: rgb(252, 243, 243);
  text-decoration: none;
  background: #000000;} 

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: rgba(250, 234, 16, 0.897);
  color: rgb(14, 13, 13);}

ul#menu li a:hover
{ color: red;}

#site_content
{ width: 900px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0px 10px 10px 20px;
  background: #F6F6F0 url(back.png) repeat-y;
  border: 10px solid #FFF;
}

#site_content_gallery{
    width: 900px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 20px 20px 20px;
    background: #F6F6F0 url(back.png) repeat-y;
    border: 15px solid #FFF;
}

#space{
    height: 50px;
}

#like_counter{
    height: 100px;
    background: #000000 ;
    position: right;
}

#like-button{
  margin-top: 5px;
  position: absolute;
  left: 45%;
  cursor: pointer;
}

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;
}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 25px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 613px;
  padding: 0;}

#content_gallery
{ text-align: center;
  width: 613px;
  padding: 0;}

#footer
{ width: 916px;
  font-family: sans-serif;
  font-size: 90%;
  height: 28px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a, #footer a:hover
{ color: #111;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

#footer p
{ line-height: 22px;
  padding: 0;}
  
.search
{ color: #555; 
  border: 1px solid #DDD; 
  width: 134px;
  padding: 5px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 20px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}


  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: rgb(57, 179, 138);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.num_tiles {
width:30px;
height: 30px;
background-color: #888888;
color: #ffffff;
font-size: 22px;
text-align: center;
line-height: 20px;
padding: 3px;
margin: 1.5px;
font-family: verdana;
vertical-align: center;
}

.sticky{
right: 192px;
position: fixed;
top: 0;
width: 80%;
}

.sticky+.content{
  padding-top: 100px;
}

#twitter{
   width: 200px;
}